@font-face {
    font-family: gotham;
    src: url(../GOTHAM-LIGHT.TTF);
}
.row{
  margin-left:0px;
  margin-right:0px;
}

div.item img{
  width:100%;
}
div.item{
	max-height:85vh;
}
.float-right{
  float:right;
}
.float-left{
  float:left;
}
.mar-top-180{
  margin-top:180px;
}
#headshot{
  float:none;
  margin-left:auto;
  margin-right:auto;
  display: block;
  width: 100%;
  min-width:260px;
  max-width:350px;
}
p{
  font-family: gotham;
  font-size: .9em;
  letter-spacing: 0.04em;
  line-height: 1.9em;
  color: #000;
  margin-bottom: 0px;
}
.no-side-pad{
  padding-left:0px;
  padding-right:0px;
}
#view-work{
  height:420px;
  background-color:red;
  overflow: hidden;
  background-image: url("../img/cloths.jpg");
  background-size: 100% auto

}
.mar-top-40{
  margin-top:40px;
}
#view-work-img{
  width:100%;
  }
#footer{
  height:420px;
  background-color:#f2f2f2;
  padding-left:0px;
  padding-right:0px;
}
.red{
  background-color: #f2f2f2;
  height:auto;
}
.first{
  padding-top: 40px;
}
.about-text{
  max-width:500px;
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  display: block;
}

  .last{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #about-row{
  	margin-top:20px;
  }
  #work-row{
  	margin-top:0px;
  }

  #footerjidsvg{
    min-width:250px;
  	width: 90%;
    max-width:288px;
  	margin-top:110px;
  }
   #headerjidsvg{
  	width: 185px;
  	margin-top: 12px;
  	position: relative;
  }
  .navbar{
  	margin-bottom:0px;
  	height: 90px;
  }
  p.footertext{
  	font-size:1em;
  	color: black;
  }
  .mar-top-80{
  	margin-top:80px;
  }
  #footerhr{
  	border-width:0px 0px 1px 0px;
  	border-color: black;
  	border-style: solid;
  	width:80%;
  	max-width:360px;
  	margin: 0px auto 15px auto;
  }
  .container{
	max-width: 100%;
	width:100%;
	padding:0px;
}
#footer-row{
	margin-top:0px;
}
.navbar-nav{
	float:right;
}
#buttonp{
	margin-bottom: 0px;
}
button.navbar-toggle{
	padding:0px;
	margin-top:30px;
	margin-right:30px;
}
.navbar-toggle:hover{
	padding:0px;
	margin-top:30px;
	background-color:transparent!important;
}
div#navbar.navbar-collapse.collapse.in{
	background-color: #FFF;
	z-index: 10;
	position: fixed;
	width:100vw;
	height:100vh!important;
}

  .navbar-default .navbar-toggle{
  	border-style:none;
  	border-color:transparent;
  }
  .navbar-nav li.active a{
  	background-color:transparent!important;
  }
  	ul.nav.navbar-nav{
  	margin-top:15px;
  }
  	.navbar-default .navbar-collapse{
  	border-style:none;
  }
  .navbar-default{
  	background-color:white;
  }
  .navbar-nav {
 margin: 0;
 min-height: auto;
}

.navbar-nav {
float: right!important;
}

.navbar-nav>li {
float: none;
}

.navbar-inverse {
background-color: transparent;
border-color: transparent;
color:black;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
background-color: transparent;
}

.navbar-inverse .navbar-toggle {
border-color: transparent; 
}

.nav>li{
display:inline-block;
}

.collapsing {

transition:opacity 0.3s linear; 
-webkit-transition:opacity 0.3s linear; 
-moz-transition:opacity 0.3s linear; 
-o-transition:opacity 0.3s linear;
}

.navbar-collapse.collapse.in{
opacity:1.0;
transition:opacity 0.3s linear; 
-webkit-transition:opacity 0.3s linear; 
-moz-transition:opacity 0.3s linear; 
-o-transition:opacity 0.3s linear;
}

.navbar-collapse.collapse{

transition:opacity 0.3s linear; 
-webkit-transition:opacity 0.3s linear; 
-moz-transition:opacity 0.3s linear; 
-o-transition:opacity 0.3s linear;
}

.navbar-collapse {
    opacity: 0;
width: auto;
    height: auto !important;
border-top: 0;
-webkit-box-shadow: none;
box-shadow: none;
margin-top: 0px;
max-height: none;
font-family:"gotham";
font-weight: 400;
line-height: 54px;
font-size: 3em;
display:block !important;
}
.popup-container{
  width:100vw;
  height:100vh;
  position: fixed;
  top:0px;
  right:0px;
  left:0px;
  bottom:0px;
  z-index:10000000000000;
  background-color:white;
}
h1{
font-size:4em;
font-family: gotham;
}
.pop-up-button{
  position: relative;
  height:100vh;
  top:-23px;
}
#mobilemenubutton{

}
a h1{
  text-decoration: none;
  color:black;
  opacity:1;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all  .3s ease;
}
a h1:hover a{
  text-decoration: none;
  opacity:.8;

}
#popup1close{
  top: 35px;
  right: 63px;
  position: absolute;
  font-size: 2.4em;
  color:black;
  z-index: 100;
}
#popup1close:hover{
  text-decoration:none;
}
.max-h-10vh{
  max-height: 10vh;
  line-height:10vh;
  min-height:35px;
}
.navbar-inverse .navbar-nav>.active>a{
  color:black;
}
ul.navbar-nav li{
  color:black!important;
}
.navbar-inverse .navbar-nav{

}
@media screen and (max-width: 767px) {
	#navbar ul li {
		text-align:center;
	}
	.navbar-nav{
		float:none;
	}
}
@media screen and (min-width: 650px) {
.first{
	padding-top:80px;
}
#popup1open{
  display: none!important;
}
}
@media screen and (max-width: 649px) {
#menu{
  display: none;
}
}
@media screen and (min-width: 992px) {

  #headshot{
    position: relative;
    width:420px;
    max-width: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float:right;
  }
    #headerjidsvg{
  	left: 84px;
  }
  button.navbar-toggle{
	margin-right:60px;
}
#footer-row{
	margin-top:80px;
}
  .md-mar-top-200{
    margin-top:200px;
  }
  .red{height: 489px;}
  .first{
	padding-top:0;
  }
.about-text{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width:500px;
  float: left;
  text-align: left;
  margin-left:auto;
  margin-right:auto;
  display: block;
}
.max-width-1200{
	max-width:1200px;
	display: block;
	margin-right:auto;
	margin-left:auto;
}

#workbtn{
  background-color:rgba(65, 64, 66, 0.65);
  height:80px;
  margin-top:180px;
}
#about-row{
  margin-top:180px;  
  }
  p.footer-text{
  	font-size:1em;
  }
 .carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
#work-row{
  	margin-top:200px;
  }

}
ul {
    list-style-type: none;
}

li {
    float: left;
}
ul#menu li{
  float:right;
}

li a {
    display: block;
    text-align: center;
    padding:3px 3px 3px 3px;
    margin-left:20px;
    text-decoration: none;
}

li a:hover {

}
#popup1open{
  float:right;
  padding:16px;
  padding-right:25px;
  margin-top:22px;
  display: block;
  color: black;
  font-family: gotham;
  font-size:.9em;
}
#menu{
  width:auto;
  height:auto;
  float: right;
  margin-top:31px;
}

#about-row{
}

#footer-row{
  margin-right:0px;
  margin-left:0px;
}


.headerrow{
  height:90px;
  padding-left:0px;
  padding-right:0px;
  margin-left:auto;
  margin-right:auto;
  display: block;
}
.carousel-indicators{
width:36px;
margin-left:0%;
}
#widthwrap{
  width:100%;
  padding-left:15px;
  padding-right:15px;
  margin-left:auto;
  margin-right:auto;
  display: block;
}
#headerjidsvg{
  left:15px;
  z-index: 10000;
}
#menu{
  margin-right:15px;
}
#footer-row{
  margin-bottom:15px;
}
@media only screen and (min-width: 750px) {
#widthwrap{
  padding-left:30px;
  padding-right:30px;

}
#headerjidsvg{
  left:30px;
}
#menu{
  margin-right:35px;
}
#footer-row{
  margin-bottom:30px;
}
}
.col-centered{
  float:none;
  margin: 0 auto;
}


#button{
  width:43%;
  margin-left:auto;
  margin-right: auto;
  display: block;
  margin-top:300px;
  margin-bottom:100px;

}

#product-detail .carousel-inner>.active{
position: relative;
top: 50%;
transform: translateY(-50%);
}
#product-detail .carousel-inner>.next,
#product-detail .carousel-inner>.prev{
  top: 50%;
  transform: translateY(-50%);
}
.footer{
  margin-top:40px;
}
#nodec{
  color:black;
}
#nodec:hover{
  text-decoration: none;
}
.icon-container{
  width:75px;
  height:15px;
  margin-left: auto;
  margin-right: auto;
  display: block;

}
.fa{
  padding-left:3px;
  padding-right:3px;
}
.icon-container a{
  color:#333;
  text-decoration: none;
}
.view-work-p{
  font-size:2em;
  color:white;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#btn{
  background-image: url("../img/cloths-btn.jpg");
  margin-top: 200px;
  max-width:450px;
  width: 90%;
  max-width:460px;
  height:30vw;
  max-height:170px;

  box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.3);
}

#slide-1, #slide-2, #slide-3{
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:95vh;
}
#slide-1{
  background-image: url("../img/web/cirillo/Cirilloweblarge05.jpg");

  background-color: #64827c;
}
#slide-2{
  background-image: url("../img/web/highlands/highlandsweb4.jpg");

  background-color: #64827c;
}
#slide-3{
  background-image: url("../img/web/clyde/clydeweb5.jpg");
  background-color: #64827c;
}
#btn-2{
  background-image: url("../img/web/cirillo/Cirilloweblarge05.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:95vh;
}
#btn-2{
  background-image: url("../img/web/cirillo/Cirilloweblarge05.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height:95vh;
}
i:hover{
  opacity:.6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#btn:hover{
  cursor: pointer;
}
h1.menu-type{
  font-size:2.3em;
}
.popup-container{
  background-color: #f2f2f2;
}
.popup-content a:hover{
  text-decoration: none;
}
.no-underline:hover{
  text-decoration: none;
}
form#contactform textarea {
  width:95%;
  height:40px;
  margin-top: 35px;
  margin-bottom: 20px;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  line-height: 35px;
  display:block;
  font-size:14px;
  font-family:gotham;
  letter-spacing:1px;
  line-height:40px;
  color: black;
  padding-left: 5px;
}
.submit {
  background-color: white;
  max-width: 210px;
  width:35vw;
  height:40px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  font-size:12px;
  font-family:gotham;
  word-spacing:40px;
  letter-spacing:3px;
  line-height:20px;
  display:block;
  color: black;
}

form#contactform textarea#message {
  height:200px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  padding-left: 5px;
}
.black-text{
  color:black;
}
.header-p{
  font-size:2em;
  color:#1A1A1A;
  margin-bottom:15px;
}
.margin-top-90{
  margin-top:90px;
}
.thumbnail{
  padding-left:10px;
  padding-right:10px;
}

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}
@media screen and (max-width: 992px) {
  #btn{
    margin-top:102px;
  }
}

.pad-right-30{
  padding-right:32px;
  padding-left:30px;
}

.thumbnail{
border:none;
}


.thumbnail{
  padding:0px;
  max-height:370px;
  overflow: hidden;
  border-radius: 0px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  margin-bottom:10px;
}
.thumbnail:hover{
  opacity:.8;
}
.work-button-1{
  background-color: #64827C;
  background-image: url("../img/web/cirillo/Cirilloweblarge05.jpg");
}
.work-button-2{
  background-color: #755E51;
  background-image: url("../img/web/clyde/clydeweb5.jpg");
}
.work-button-3{
  background-color: #1f2d3a;
  background-image: url("../img/web/gigharbor/gigharborweb1.jpg");
}
.work-button-4{
  background-color: #8C624B;
  background-image: url("../img/web/highlands/highlandsweb4.jpg");
}
.work-button-5{
  background-color: #201c22;
  background-image: url("../img/web/jacobson/jacobson5.jpg");
}
.work-button-6{
  background-color: #0f250c;
  background-image: url("../img/web/vashon/vashon1.jpg");
}
.work-button-7{

}
  .work-button-8{
}
.work-button-1,.work-button-2,.work-button-3,.work-button-4,.work-button-5,.work-button-6,.work-button-7,.work-button-8{
  height:45vh;
  min-height:300px;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-clip: content-box;
  margin-bottom:50px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  padding-left:20px;
  padding-right:20px;
  z-index: 1000;
}
.work-button-1:hover,.work-button-2:hover,.work-button-3:hover,.work-button-4:hover,.work-button-5:hover,.work-button-6:hover,.work-button-7:hover,.work-button-8:hover{
  opacity: .7;
}
div.caption{
  position: absolute;
  bottom:-32px;
}
.containeryo{
  max-width:1400px;
  margin-left:auto;
  margin-right:auto;
}
#work-row-one{
  margin-top:-20px;
}
@media screen and (max-width: 450px) {
.pad-right-30{
  padding-right:15px;
  padding-left:15px;
}
#widthwrap{
  padding-left:8px;
  padding-right:8px;
}
.first{
  padding-top:20px;
}
#footer-row{
  margin-bottom:8px;
}
.work-button-1,.work-button-2,.work-button-3,.work-button-4,.work-button-5,.work-button-6,.work-button-7,.work-button-8{
padding-left:0px;
padding-right:0px;  
}
.row{
  margin-right:0px;
  margin-left:0px;
}
}
.thumbnail{
  padding-left:10px;
  padding-right:10px;
}
.carousel-control{
  font-size:58px!important;
}
.vcenter{
  position: relative;
  top: 50%;

  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

}
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

.slide1, .slide2, .slide3, .slide4, .slide5, .slide6, .slide7, .slide8, .slide9, .slide10{
 background-repeat: no-repeat;
 background-position: center center;
 -webkit-background-size: contain;
 background-size: cover;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     height:95vh;
}
#verticalpic{
  background-size: contain;
}

#carousel-bounding-box{
  height:80vh;
  padding-left:0px;
  padding-right:0px;
}
div#slider.col-xs-12{
  padding-left:0px;
  padding-right:0px;
}
a.thumbnail img{
  height:60px;
}

.thumbnail-row{
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}
.col-sm-2{
  margin-left:0;
}
#carousel-selector-0, #carousel-selector-1, #carousel-selector-2, #carousel-selector-3, #carousel-selector-4, #carousel-selector-5, #carousel-selector-6, #carousel-selector-7, #carousel-selector-8,#carousel-selector-9 {
  margin-left:0px;

}
.thumbnail{
  border-style:none;
}
a.thumbnail img:hover{
  opacity:.6;
}
a.thumbnail img{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
.carousel-control{
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
#testdiv{
 background-position: center center;
 -webkit-background-size: cover;
 background-size: cover;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     height:60px;
     width:90px;
opacity: 1;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;
}
#testdiv:hover{
  opacity:.6;
}
#fivewide{
  width:550px;
}
#sixwide{
  width:661px;
}
@media screen and (max-width: 700px) {
  #fivewide, #sixwide{
    width:100%;
  }
  #testdiv{
    max-height:60px;
    height: 72px;
    width:100%;

  }
  .thumbnail{
    padding-left:.3vw;
    padding-right:.3vw;
  }
  li.col{
    width:20%;
  }
  .thumb1{
    margin-right:0px;
  }
  div#slider-thumbs.row{
    margin-top:-2.3vw;
  }
  }
.bgc{
  width:100%;
  height:100%;
  top:0;
  left:0;
  bottom:0;
  right:0;
  position: relative;
  height:45vh;
}
.gig-harbor-bgc{
  background-color: #83796C;
}
.widthcap{
  max-width:1300px;
}
.carousel-control{
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
}
.carousel-control.right{
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
}
.carousel-control.left{
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,0) 100%);
}

.popup-content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
body {
    opacity: 1;
    transition: 1s opacity;
}
body.fade-out {
    opacity: 0;
    transition: none;
}