@font-face {
    font-family: gotham;
    src: url(../GOTHAM-LIGHT.TTF);
}
@font-face {
    font-family: gothamthin;
    src: url(../Gotham-Thin.ttf);
}
a img {
    border: 0;
}
*{
  margin:0;
  padding:0;
}
a{
  color:black;
}
#logo{
  margin-top:32.5px;
  margin-bottom:35px;
  margin-left:105px;
  height:32px;
  width:auto;
}

ul#menu, ul#mobilemenu{
  float:right;
  font-size:12px;
  font-family:gotham;
  word-spacing:40px;
  letter-spacing:3px;
  line-height:20px;
  margin-top:42.5px;
  margin-right:70px;
  color:black;s
  display:inline;
  list-style-type: none;
}

ul#menu li{
  display:inline;
}
ul li a{
color:black;
display:inline;
text-decoration: none;
}
ul li a:hover{
  color:black;
  display:inline;
  text-decoration: none;
  opacity:.6;
}

body{
  width:100%;
  height:400px;
  margin-left:auto;
  margin-right:auto;
}

*{
  margin:0;
  padding:0;
}

.my-slider{
  height:60vw;
  max-height:1200px;
  overflow:hidden;
  width:95%;
  margin-left:auto;
  margin-right:auto;
}

ul#slider li img{
  height:auto;
  width:100%;
  overflow:hidden;
}

.demo {
  width:95%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
}

ul #image-gallery .gallery .list-unstyled .cS-hidden{
  list-style: none outside none;
  padding-left: 0;
  margin-bottom:0;
}

ul #image-gallery .gallery .list-unstyled .cS-hidden li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor:pointer;
}

ul #image-gallery .gallery .list-unstyled .cS-hidden li img {
  display: block;
  height: auto;
  width:100%;
}

#menuhr{
display:none;
}
#titlep{
  margin-top: -26px;
  font-size: 30px;
  font-family: gothamthin;
  text-align: center;
  letter-spacing: 3px;
  line-height: 10px;
  font-weight: 200;
  line-height: 48px;
  color:black;
  background-color:white;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  text-align:center;
}

#titlehr{
border-style:none;
height:.5px;
background-color:gray;
width:480px;
margin: -17.5px auto 0 auto;
display:none;
}

#buttoncontainer{
  width:100%;
  /* margin: 2.5vw 0 0px 0; */
  height:350px;
  background-color:#414042;
}

#rightbutton, #leftbutton{
  width:37.5%;
  height:350px;
  display:block;
  opacity:1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  background-size: cover;
  background-position: center;
}

#middlebutton p{
margin-left:37.5%;
margin-right:37.5%;
height:auto;
background-color:#414042;
display:block;
border-style:none;
}

#middlebutton:hover p{
  letter-spacing:8px;
  cursor: pointer;
  border-bottom:1px;
}

#viewall{
  font-size: 25px;
  font-family: gotham;
  text-align: center;
  letter-spacing: 7px;
  font-weight: 200;
  line-height:40px;
  padding: 155px  3% 150px 3%;
  color:white;  
  -webkit-transition: letter-spacing .25s ease-in-out;
  -moz-transition: letter-spacing .25s ease-in-out;
  -ms-transition: letter-spacing .25s ease-in-out;
  -o-transition: letter-spacing .25s ease-in-out;
  transition: letter-spacing .25s ease-in-out;
}


p#opacity{
  font-size: 25px;
  font-family: gotham;
  text-align: center;
  padding: 155px 3% 155px 3%;
  letter-spacing: 7px;
  font-weight: 200;
  line-height:40px;
  color:white;  
  -webkit-transition: background .5s ease-out;
  -moz-transition: background .5s ease-out;
  -o-transition: background .5s ease-out;
  transition: background .5s ease-out;
}

p#opacity:hover{
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background .5s ease;
  -moz-transition: background .5s ease;
  -o-transition: background .5s ease;
  transition: background .5s ease;
}

.lSPager.lSGallery li{
  max-width:70px!important;
}
ul.lSPager.lSGallery{
  margin-top:30px!important;
  margin-bottom: 30px!important;
  width:auto!important;
}
@media only screen and (min-width: 800px) {
  ul#slider li#fix{
    width:105%;
} }
@media only screen and (max-width: 800px) {
  .my-slider{
    height:480px;
    max-height:750px;
    overflow:hidden;
    width:95%;
    margin-left:auto;
    margin-right:auto;
  }
  ul#slider li img, ul#slider li img#fix {
    height:auto;
    width:760px;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;
    display:block;
    position: absolute;
    top: -9541px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
  }
}
#logo{
margin-top:32.5px;
margin-bottom:35px;
margin-left:5%;
height:32px;
width:auto;
}
div#header{
  width:100%;
  height: 105px;
  margin-left:auto;
  margin-right:auto;
  /* background-color:white; */
  position:relative;
  z-index: 100;
}
ul#menu{
  float:right;
  font-size:12px;
  font-family:gotham;
  word-spacing:20px;
  letter-spacing:1px;
  margin-right:5%;
  line-height:20px;
  margin-top:42.5px;
  color:black;
  display:inline;
}
ul#menu li{
  display:inline;
}
ul li a{
  color:black;
  display:inline;
  text-decoration: none;
}
ul li a:hover{
  color:black;
  display:inline;
  text-decoration: none;
  opacity:.6;
}
body{
  width:100%;
  height:400px;
  margin-left:auto;
  margin-right:auto;
}
#graybox{
  position:relative;
  height:420px;
  width:100%;
  background-color:#f2f2f2;
  margin-top:130px;
  margin-bottom:175px;
  margin-left:auto;
  margin-right:auto;
}
#nostyleno{
  background-color: red;
}
#momheadshot{
  height:560px;
  width:420px;
  margin-left:140px;
  margin-top:-70px;
  background-image:url('../img/mom.jpeg');
  background-size: cover;
  background-position: center;
  position:absolute;
}
#matysucks{
  
}
#abouttext{
  margin-left:630px;
  padding-top:50px;
  max-width:525px;
  padding-right:70px;
  font-family: gotham;
  font-size:12px;
  letter-spacing:.5px;
  line-height:18px;
}
p#nicholejacobson{
  bottom:-30px;
  position:absolute;
}
#fabric{
  margin-left:auto;
  margin-right:auto;
  width:95%;
  height:420px;
  background-image: url('../img/cloths2.jpg');
  overflow: hidden;
  background-position: center;
display:block;}

#footer{
  width:100%;
  margin-left: auto;
  margin-right: auto;
  /* position:absolute; */
  background-color:#f2f2f2;
  min-height: 268px;
  padding-top:80px;
  padding-bottom:80px;
  clear:both;
}
#footer::before {
    content: "";
    display: block;
}
#jacobsoninterior{
  margin: 45px auto 0 auto;
  font-size: 35px;
  line-height:35px;
  font-family: gotham;
  text-align:center;
  letter-spacing: 5px;
  font-weight:200;
  padding-right: 5%;
  padding-left: 5%;
}
#address{
  margin: 0 auto 5px auto;
  font-size:18px;
  font-family: gotham;
  line-height:30px;
  text-align:center;
  letter-spacing:1px;
  font-weight:200;
  padding-right: 10%;
  padding-left: 10%;
}
#phoneemail{
  margin: 0 auto 0 auto;
  font-size:18px;
  line-height:30px;
  font-family: gotham;
  text-align:center;
  letter-spacing:1px;
  font-weight:200;
  padding-right: 5%;
  padding-left: 5%;
}
#jacobsoninteriorhr{
  width:80%;
  max-width:415px;
  margin: 35px auto 35px auto;
  line-height:75px;
  border:none;
  height:1px;
  color:black;
  background-color:black;
}
#nicholejacobson{ 
  font-family: gotham;
  font-size:12px;
  letter-spacing:.5px;
  line-height:18px;
}
#work{
  height:110px;
  width:490px;
  margin-left:auto;
  margin-right:auto; 
  background-color: rgba(65, 64, 66, 0.65);
  font-size:30px;
  position: relative;
  top: 38%;
  transform: translateY(-50%);
  text-align:center;
}
#work p{
  font-size: 35px;
  font-family: gotham;
  text-align: center;
  letter-spacing: 5px;
  font-weight: 200;
  line-height:110px;
  color:white;
  -webkit-transition: letter-spacing .25s ease-in-out;
  -moz-transition: letter-spacing .25s ease-in-out;
  -ms-transition: letter-spacing .25s ease-in-out;
  -o-transition: letter-spacing .25s ease-in-out;
  cursor:pointer;
}
#work p:hover{
  letter-spacing: 7px;
}
@media only screen and (max-width: 675px) {
  #work{
    height:80px;
    width:80%;
    margin-left:auto;
    margin-right:auto; 
    background-color: rgba(65, 64, 66, 0.65);
    font-size:30px;
    position: relative;
    top: 42%;
    transform: translateY(-50%);
    text-align:center;
  }
  #work p{
    font-size: 25px;
    font-family: gotham;
    text-align: center;
    letter-spacing: 4px;
    font-weight: 200;
    line-height:80px;
    color:white;
  }
  #work p{
    letter-spacing: 6px;
  }
  #viewall{
    font-size:18px;
    letter-spacing:1px;
  }
  #viewall:hover{

    letter-spacing:3px!important;
  }
  p#opacity{
    font-size:15px;
    padding-top:117.5px;
    padding-bottom:117.5px;
    letter-spacing:1px;
    display:none;
  }
  p#viewall{
    padding-top:30px;
    padding-bottom:30px; 
  }
  #buttoncontainer{
   height:100px; 
  }
#leftbutton, #rightbutton{
 width:25%; 
}
#middlebutton{
  width:50%;
  margin-left:25%;
  margin-right:25%;
}
#leftbutton{

  border-width: 0 1px 0 0;
  border-color:white;
  border-style:solid;
}
#rightbutton{
    border-width: 0 0 0 1px;
  border-color:white;
  border-style:solid;
}
#middlebutton p{
  margin-left:0;
  margin-right:0;
}
a#right, a#left{
cursor:pointer!important;
background-color: #414042!important;
}
}

@media only screen and (max-width: 1130px) {
  #momheadshot{
    margin-left:70px;
  }
  #abouttext{
    margin-left:525px;
    padding-right:35px;
  }
}
@media only screen and (max-width: 980px) {
  #momheadshot{
    margin-left:35px;
  }
  #abouttext{
    margin-left:490px;
  }
}

@media only screen and (max-width: 900px) {
  #momheadshot{
    margin-left:0px;
  }
  #abouttext{
    margin-left:455px;
  }
}
@media only screen and (min-width: 941px) {
div#mobilepics{
  display:none;
  }
}
@media only screen and (max-width: 940px) {
  #abouttext{
    margin-left:auto;
    margin-right:auto;
    width:auto;
    max-width:500px;
    padding-left:2.5%;
    padding-right:2.5%;
    padding-top:720px;
    text-align:center;
  }

  #momheadshot{
    height:560px;
    width:420px;
    margin-left:auto;
    margin-right:auto;
    background-color:gray;
    position:absolute;
    left: 0;  right: 0;
    margin-top:70px;
  }

  #fabric{
    margin-top:320px;
  }

  #graybox{
    width:100%;
    margin-left:0;
    margin-right:0;
    padding-bottom:70px;
    height:auto;
    margin-bottom:50px;
    margin-top:25px!important;
  }
  #fabric{
    margin-top:0;
  }
  #momheadshot{
    width:95%;
    max-width:420px;
    margin-left:auto;
    margin-right:auto;
  }
div.demo{
  display:none;
}
#titlep{
  font-size: 23px;
}
}



@media only screen and (max-width: 939px) {
  ul#menu{
    display:none;
  }
  #logo{
    margin-left:35px;
  }
  ul#mobilemenu{
    margin-right:35px;
  }
}

 a#left{
  cursor: url(../img/leftarrow.png), auto;
  text-decoration: none;
  display:block;
  height:350px;
  width:auto;
  background-color: rgba(68,68,68,.7);
    -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
}
a#left:hover{
  background-color: rgba(68,68,68,.0);
  height:350px;
  width:auto;
}
a#right{
  cursor: url(../img/rightarrow.png), auto;
  text-decoration: none;
  display:block;
  height:350px;
  width:auto;
  background-color: rgba(68,68,68,.7);
    -webkit-transition: background-color .5s ease-in-out;
  -moz-transition: background-color .5s ease-in-out;
  -ms-transition: background-color .5s ease-in-out;
  -o-transition: background-color .5s ease-in-out;
}
a#right:hover{
  background-color: rgba(68,68,68,.0);
  height:350px;
  width:auto;
}
a#middle{
  text-decoration: none;
}

ul.lSPager.lSGallery li:last-child{
  margin-right:0px!important;
} 
* {
 margin: 0;
 padding: 0;
}


a#slide {
  display:block;
  color:red;
  height:100vh;
  width:95%;
  padding-top:2.5vh;
  padding-bottom:2.5vh;
  margin-left:2.5%;
 vertical-align: middle;       
 display: inline-block;
}
body{
 margin-left:auto;
 margin-right:auto;
}

div.pic{
 overflow: hidden;
 background-size: cover;
 background-position: center;
 width:95%;
 margin-left:2.5%;
 margin-right:2.5%;
 height: calc(100vh - 210px);
 height: -webkit-calc(100% - 210px);
 height: -moz-calc(100vh - 210px);
 height: -o-calc(100vh - 210px);
 margin-bottom:105px;  
}
.size{
 width:95%;
 margin-left:2.5%;
 margin-right:2.5%;
 height: calc(100vh - 210px);
 margin-bottom:105px;}


#one{
  background-image: url('../img/web/cirillo/Cirilloweblarge05.jpg');
}
#two{background-image: url('../img/web/clyde/clydeweb5.jpg');}
#three{background-image: url('../img/web/gigharbor/gigharborweb4.jpg');}
#four{background-image: url('../img/web/highlands/highlandsweb4.jpg');}
#five{background-image: url('../img/web/jacobson/jacobson5.jpg');}
#six{background-image: url('../img/web/vashon/vashon1.jpg');}
#titlebox{
      height:170px;
      width:85%;
      max-width:490px;
      margin-left:auto;
      margin-right:auto; 
      background-color: rgba(68, 68, 68, 0.7);
      font-size:30px;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align:center;
      cursor:pointer;
}
div#titlebox p{
      color:white;
      font-weight:400;
      letter-spacing:5px;
      font-family:gotham;
      -webkit-transition: letter-spacing .35s ease-in-out;
      -moz-transition: letter-spacing .35s ease-in-out;
      -ms-transition: letter-spacing .35s ease-in-out;
      -o-transition: letter-spacing .35s ease-in-out;
}
p#projectname{
      padding-top:35px;
}
#viewproject{
      font-size:18px;
      font-weight:500;    
}
#titlebox:hover #viewproject{
      letter-spacing:7px;
}

#titleboxhr{
      width:300px;
      margin: 12.5px auto 17.5px auto;
      border-style:none;
      background-color:white;
      height:1px;
}
a{
      text-decoration:none;
}

#main{
      max-width:1330px;
      margin-bottom:100px;
}

#projectnametwo{
      bottom:238px;
      position:absolute;
      left:5%;
      color:white;
      font-weight:400;
      letter-spacing:5px;
      font-family:gotham;
      font-size:30px;
}
#viewprojecttwo{
      bottom:250px;
      position:absolute;
      right:5%;
      color:white;
      font-weight:400;
      letter-spacing:5px;
      font-family:gotham;
      font-size:18px;
      border-bottom: 1px;
}
#titleboxhrtwo{
      bottom:245px;
      position:absolute;
      right:5%;
      width:236px;
      height:1px;
      background-color:white;
      border-style:none;
      opacity:1;
}
@media only screen and (max-width: 930px) {
#projectnametwo{
      bottom:295px;
      width:100%;
      left:0%;
      right:0%;
      text-align:center;
}
#viewprojecttwo{
      width:100%;
      left:0%;
      right:0%;
      text-align:center;
}
#titleboxhrtwo{
      bottom:245px;
      position:absolute;
      right:70px;
      width:236px;
      height:1px;
      background-color:white;
      border-style:none;
      opacity:1;
      left:0;
      right:0;
      margin:auto;
}}
@media only screen and (max-width: 420px) {
span#email{
 font-size:12px; 
}
#abouttext{
  text-align:left;
  margin-left:2.5%;
  }}
@media only screen and (max-width: 420px) {
#work p{
  font-size:14px;
  letter-spacing:4px;
  }}
  #j{
  height:50px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding-top:96px;
}
button#trigger-overlay{
position:absolute;
background-color:transparent;
border-style:none;
font-family: gotham;
line-height:20px;
  float:right;
  font-size:12px;
  font-family:gotham;
  word-spacing:40px;
  letter-spacing:3px;
  line-height:20px;
  margin-top:42.5px;
  margin-right:35px;
  color:black;
  display:inline;
  list-style-type: none;
  top:0px;
  right:0px;
}
button#trigger-overlay:hover{
opacity:.6;
}
button#trigger-overlay:focus{
border-style:none;
outline:none;
}

#hamdiv {
margin-top:28vh;
}

a#menu:hover, a#hammenu:hover{
opacity:.6;
}
a#menu:active,a#hammenu:active{
}
ul#hammenu{
list-style-type: none;
float:right;
margin-top:62px;
margin-right:40px;
word-spacing: 40px;
}

a#hammenu{
  position:relative;
  width:35vw;
  display:block;
  font-size:3vw;
  font-family: gotham;
  color:black;
  letter-spacing:2px;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
  list-style-type: none;
  text-decoration: none;
  line-height: 11vh;
}

@media only screen and (min-width: 940px) {
  button#trigger-overlay{
    display:none;
  }
}
@media only screen and (min-width: 800px) {
ul#slider li{
  margin-top: calc(-50vw + 50%);
  height:10vw;
 }}
 #so{
  border-style:none;
  width:auto;
  max-width:1400px;
  margin-left: auto;
  margin-right: auto;
 }
            #arrow{
            font-size: 30px;
            color:white;
            font-weight: 100;
            text-align:center;
            line-height:50px;
            padding-top:25px;
            padding-bottom:25px;
                          -webkit-transition: letter-spacing .35s ease-in-out;
  -moz-transition: letter-spacing .35s ease-in-out;
  -ms-transition: letter-spacing .35s ease-in-out;
  -o-transition: letter-spacing .35s ease-in-out;
           }
           .rightarrow:hover{
            letter-spacing:-10px;

           }
           .leftarrow:hover{
            letter-spacing:10px;

           }
div#mobilepics{
 margin-top:2.5vw;
 /* margin-left:2.5%; */
 /* margin-right:2.5%; */
 width: 100%;
}

span#nearabout{
  font-size:12px;
}

form#contactform textarea {
  width:95%;
  height:40px;
  margin-top: 35px;
  margin-bottom: 20px;
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  line-height: 35px;
  display:block;
  font-size:14px;
  font-family:gotham;
  letter-spacing:1px;
  line-height:40px;
  color: black;
  padding-left: 5px;
}

.submit {
  background-color: white;
  max-width: 210px;
  width:35vw;
  height:40px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-color: black;
  border-width: 1px;
  font-size:12px;
  font-family:gotham;
  word-spacing:40px;
  letter-spacing:3px;
  line-height:20px;
  display:block;
  color: black;
}

form#contactform textarea#message {
  height:200px;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0.4em;
  padding-right: 0.4em;
  padding-left: 5px;
}

.rowone {
  width:100%;
  height: 490px;
  background-color: green;
}

.rowtwo {
  width:100%;
  height: 490px;
  background-color: red;
}

.rowthree {
  width:100%;
  height: 490px;
  background-color: yellow;
}

.left {
  width: 25%;
  background-color: black;
  height: 27vw;
  display: inline-block;
  position: relative;
  background-size: cover;
  max-width: 350px;
  margin-left: 5%;
  margin-right: 3.75%;
  margin-bottom: 105px;
}

.middle {
  width: 25%;
  background-color: blue;
  height: 27vw;
  display: inline-block;
  position: relative;
  background-size: cover;
  max-width: 350px;
  margin-left: 3.75%;
  margin-right: 3.75%;
  margin-bottom: 105px;
}

.right {
  width: 25%;
  background-color: white;
  height: 27vw;
  display: inline-block;
  position: relative;
  background-size: cover;
  max-width: 350px;
  margin-left: 3.75%;
  margin-right: 5%;
  margin-bottom: 105px;
}
.left, .middle, .right{
  max-height:380px; 
}
div#mobilepics img{
  margin-top:1;
}

